.titleMessage {
  position: absolute;
  width: 100%;
  top: 22rem;
  z-index: 1;
  margin-top: -125px;
  text-align: center;
}

strong {
  font-size: 1.25em;
}

.sub {
  color: #048bfc;
  font-size: 27px;
  letter-spacing: 2px;
}
strong {
  font-size: 1.25em;
}
.main {
  color: white;
  font-size: 50px;
}

@media (max-width: 400px) {
  .titleMessage {
    position: absolute;
    width: 100%;
    top: 5rem;
    z-index: 1;
    margin-top: -20px;
    text-align: center;
  }

  strong {
    font-size: 0.5em;
  }

  .sub {
    color: #048bfc;
    font-size: 12px;
    letter-spacing: 2px;
  }
  strong {
    font-size: 0.5em;
  }
  .main {
    color: white;
    font-size: 22px;
  }
}
