.img-resize {
  width: 15em;
}

.style {
  font-size: 20px;
}

.jumbo-style {
  background-image: linear-gradient(-225deg, #8e9eab 0%, #eef2f3 48%, #8e9eab 100%);
}



.body-title-style {
  font-size: 25px;
  font-weight: 800;
}
