.focus {
  transition: transform 0.3s;
  background-color: #191919;
  color: white;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1em;
  /* font-weight: 500; */
}

.image-style {
  
  width: 3em;
}

.font-details {

  font-weight: bold;
  font-size: 3em;
  /* font-weight: 500; */
  color: white;
}
.text-dark{
  color: #9A9DA8!important;
}